.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #9a5fd4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #640cd0;
    font-size: 8rem;
    color: #520630;
  }
  
  p {
    font-size: 2rem;
    color: #4e0952;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }


  .btn{
    height: 50px;
    margin: 20px;
    width: 200px;
    border-radius: 5px;
    font-size: 30px;
    font-family: 'Indie flower',cursive;
    padding-top: 10px;
    margin-left: 20px;
  }